@import "~bootstrap/scss/bootstrap.scss";

 body {
  //height: 100%;
  color: #61DAFB;
  background: #2D2D2D;
}
ul>li{
    
    margin: 3px auto 3px auto;
    
    }
ul>li:hover {

  background-color: #F5F5F5;
}

#ingreso{
    background-color: #CCFF99;
    width: 250px;
    margin-bottom: 2px;
}

#todo{
    margin:30px;
    background-color: #CC0000 ;
    color: white;
}

#x{
    margin:7px;
    background-color: #FF9900;
}

#li_tarea{
   display: inline-block; 
    //padding-bottom: 50px;
    background: #2D2D2D;
    height:45px;
    width: 500px;
    border: none;
    
}

#agregar{
    background-color: #3366CC;
    color: white;
}

ul{
    text-align:center;
    
}